In [ ]:
operators

In [ ]:
a=5
print("I am",a,"years old")

I am 5 years old

In [ ]:
#arithmetic
a=5
b=25
print(a+b)

30

In [ ]:
#power
print(2**5)

32

In [ ]:
#floor division
print(25//2)

12

In [ ]:
#relational
a=6
b=6
print(a==b)
print(a>b)
print(a<b)
print(a!=b)
print(a>=b)
print(a<=b)

True
False
False
False
True
True

In [ ]:
#logical
a=9
b=25
print(a>b)and (a<b) #false and true

False

In [ ]:
print((a>b) or (a<b)) #false and true

True

In [ ]:
#membership
a="private"
print("a"in a)
print("a"not in a)

True
False

control flow

In [ ]:
#condition if
#write a program to get a number from the user and check whether the number is +ve or -ve
a=int(input("enter a number"))
print(type(a))
if a>0:
  print(a,"is +ve")
else:
  print(a,"is -ve")

enter a number4
<class 'int'>
4 is +ve

In [ ]:
a=int(input("enter a value:"))
print(type(a))
if a>0:
  print(a,"is +ve")
elif a==0:
  print(a,"neutral")
else:
  print(a,"is -ve")

enter a value:0
<class 'int'>
0 neutral

four table

In [ ]:
n=4
for i in range(1,11,1):
  a=n*i
  print(a)

4
8
12
16
20
24
28
32
36
40

In [ ]:
n=int(input("enter a value"))
for i in range(1,11,1):
  a=n*i
  print(a)

enter a value5
5
10
15
20
25
30
35
40
45
50

In [ ]:
#type casting
a=25.5 #float
b=6 #int
print(a*b) #interpreter automatically changes data into float

153.0

In [ ]:
#explict type casting
a=9.8
b=7
print(int(a*b))

68

In [ ]:
a="45"
a=int(a)
print(type(a))

<class 'int'>

data slicing

In [ ]:
a= "python is easy"
print(a[::2])

pto ses

In [ ]:
a="python is easy"
print(a[::-1])

ysae si nohtyp

In [ ]:
a="python is easy"
print(a[0:6])

python

In [ ]:
a=int(input("enter a value"))
i=1
while(i<=10):
  n=a*i
  i=i+1
  print(n)

enter a value5
5
10
15
20
25
30
35
40
45
50

collections:

 List:

*list is a collection of elements

*Heterogeneous

*Mutable(modifiable)

In [ ]:
l1=[3,"sudha",90,6,5,7]
print(l1)

[3, 'sudha', 90, 6, 5, 7]

In [ ]:
for i in l1:
  print(i)

3
sudha
90
6
5
7

In [ ]:
l1.append("sudha")
print(l1)

[3, 'sudha', 90, 6, 5, 7, 'sudha']

In [ ]:
l1.insert(3,"hai")
print(l1)

[3, 'sudha', 90, 'hai', 6, 5, 7, 'sudha']

In [ ]:
l2=[4,"cse"]
l1.extend(l2)
print(l1)

[3, 'sudha', 90, 'hai', 6, 5, 7, 'sudha', 4, 'cse', 4, 'cse']

In [ ]:
l1.pop(9)
print(l1)

[3, 'sudha', 90, 'hai', 6, 5, 7, 'sudha', 4]

In [ ]:
l1.remove(4)
print(l1)

[3, 'sudha', 90, 'hai', 6, 5, 7, 'sudha']

In [ ]:
l3=[2,7,4,6,8,9]
max(l3)

9

list comprehension

1.iteration

2.applies some function on every element

3.conditions

4.output:list

In [ ]:
l1=[45,67,89,90]
l2=[i**2 for i in l1]
print(l2)

[2025, 4489, 7921, 8100]

In [ ]:
l1=[45,67,89,90]
l2=[i**2 for i in l1 if i>50]
print(l2)

[4489, 7921, 8100]

In [ ]:
type(l2)

list

In [ ]:
#the salaries of 5 employees in a company is taken as a list. the tax is 10% if the salary is less than or equal
#or it is 15%
#create a new list with tax amount
#[67000,45000,89000,34000,50000]
#list_name=[(boby of if)(condition) else (boby of else iterator)]
sal=[67000,45000,89000,34000,50000]
tax=[]
for i in sal:
  if i<=50000:
    t=i*0.1
    tax.append(t)
  else:
    t=i*0.15
    tax.append(t)
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]

In [ ]:
#list_name=[(boby of if) if (condition) else (boby of else iterator)]
sal=[67000,45000,89000,34000,50000]
tax=[i*0.1 if i<=50000 else i*0.15 for i in sal]
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]